@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Somar Sans';
  src: url('/assets/fonts/SomarSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Somar Sans', Arial, sans-serif;
}